@import '../../../constants/styles/colors.scss';

.Select {
  margin: 5px;
  min-height: 82px;

  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
    text-align: start;
    color: rgb(77, 77, 77);
  }
  .Input {
    position: relative;

    input {
      display: block;
      box-sizing: border-box;
      border: 1px solid rgba($color: #000000, $alpha: .3);
      padding: 15px;
      width: 100%;
      outline: none;
      transition: all 300ms ease-in-out;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;

      &:hover {
        border: 1px solid rgba($color: #000000, $alpha: 1);
      }

      &:read-only {
        background: #fff;
      }
    }

    .Icon {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba($color: #000000, $alpha: .1);
        cursor: pointer;
      }

      .Arrow {
        width: 20px;
        height: 20px;

        path {
          color: $mainBlack;
        }
      }
    }
    .Options {
      position: absolute;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 18px);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: .5);
      margin-top: 5px;
      max-height: 100px;
      overflow: auto;
      z-index: 4;

      .Option {
        width: calc(100% - 10px);
        padding: 5px 15px;
        cursor: pointer;

        &.active {
          background: $redHoverBackground;
        }

        &:hover {
          background: $OptionHoverBackground;
        }
      }
    }
  }
}

.Aria {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}
