@import '../../constants/styles/colors.scss';
@import '../../constants/styles/sizes.scss';

.Layout {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $contentBackground;

  .Container {
    max-width: $maxContentWidth;
    min-height: $minContentHeight;
    width: calc(100% - 2 * $containerPaddingWidth);
    height: calc(100% - $maxHeaderHeight);
    margin-top: $maxHeaderHeight;
  }
}
