@import '../../constants/styles/sizes.scss';

.SearchBar {
  width: 100%;
  height: calc(100% - 2 * $containerPaddingHeight - $breadcrumbsHeight);

  .SearchPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
