@import '../../constants/styles/sizes.scss';

.Projects {
  width: 100%;
  height: calc(100% - 2 * $containerPaddingHeight);
  padding: $containerPaddingHeight 0;

  .SearchPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
