$mainRed: rgb(198, 48, 49);
$redActiveBtn: rgba(198, 48, 48, 0.3);
$redHoverBtn: rgb(138, 33, 34);
$transparentActiveBtn: rgba(198, 48, 48, 0.1);
$mainBlack: rgb(46, 46, 46);
$contentBackground: #F5F5F7;
$textColor: #000000DE;
$borderColor: rgb(224, 224, 224);
$logoBackground: #bdbdbd;
$inputReadOnlyBackground: rgb(224, 224, 224);
