@import 'styles/colors.scss';

.LanguageIcon {
  position: relative;

  .Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    margin-left: 10px;

    .LanguageIcon {
      font-size: 20px;

      path {
        color: $mainRed;
      }
    }
  }
}
